*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111210;
  min-height: 100vh;
}

#webgl-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
}
