*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111210;
    height: 100vh;
    overflow: hidden;
}

#webgl-container {
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 16/9;
    max-height: 1080px;
}
